h1{
  color:red;
  text-align:center;
  font-family:cursive;
  font-size:40pt;
}

.mypic {
      margin: 50px 50px 450px 450px;
      border: 7px solid white;
      border-radius: 20px;
    }
li{
      display:inline-block;
      padding-left: 80px;
      margin-left: 120px;
      font-size:20pt;
    }
